/* --- fonts --- */
@font-face {
    font-family: burger;
    src: url(/fonts/burger.otf)
}
@font-face {
    font-family: font;
    src: url(/fonts/ChakraPetch-Regular.ttf)
}
@font-face {
    font-family: boldFont;
    src: url(/fonts/ChakraPetch-Medium.ttf)
}
@font-face {
    font-family: code;
    src: url(/fonts/code.ttf)
}
@font-face {
    font-family: super;
    src: url(/fonts/super.otf)
}

@font-face {
    font-family: pixelMonospace;
    src: url(/fonts/joystixMonospace.woff2)
}

:root {
    --bg: #111;
    --topnavbg: #222;
    --topnavbutton: #333;
    --topnavbuttonhover: #465;
    --topnavwhitehover: #444;
    --buttonnorm: #2da;
    --buttonhover: #4fc;
    --text: #eee;
    --demo: #222;
    --squarebutton: #444;
    --squarebuttonhover: #222;
    --codebg: #111;
    --codeoutline: #555;
    --subDemo: #333;
    --hint: #30393b;
    --hintEdge: #393d3f;
    --hintText: #ddd;
    --mutebuttonhover: #354;

    --fontsize: 20px;
    --smallerFont: 18px;
    --shadow: 1px 2px 6px #0009;

    --basic: #ddd;
    --svg: #bbb;

    --borderRadius: 10px;

    /* Syntax highlight */
    --keyword: #c8f;
    --number: #fa6;
    --builtin: #f80;
    --operator: #0ff;
    --function: #7bf;
    --variable: #f88;
    --string: #0f8;
    --comment: #6a8;
    --gray: saturate(10%) brightness(85%);
}

body.light {
    --bg: #fff;
    --topnavbg: #ccc;
    --topnavbutton: #aaa;
    --topnavbuttonhover: #697;
    --topnavwhitehover: #bbb;
    --buttonnorm: #063;
    --buttonhover: #285;
    --text: #000;
    --demo: #eee;
    --squarebutton: #ccc;
    --squarebuttonhover: #fff;
    --codebg: #fff;
    --codeoutline: #bbb;
    --subDemo: #ddd;
    --hint: #d5dfe5;
    --hintEdge: #c5cfd5;
    --hintText: #222;
    --mutebuttonhover: #8b9;

    --basic: #100;
    --svg: #666;

    --keyword: #74d;
    --number: #a72;
    --builtin: #950;
    --operator: #044;
    --function: #058;
    --variable: #b22;
    --string: #074;
    --comment: #575;
    --gray: saturate(10%) opacity(50%);
}

.c {
    filter: var(--gray);
}

html {scroll-behavior: smooth}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: font;
    margin: 0;
    font-size: var(--fontsize);
    padding-bottom: 60px;
    width: 100%
}

a {text-decoration: none}
p {margin: 0}
b {
    font-weight: normal;
    font-family: boldFont;
}
h4, h3, h2, h1 {
    margin: 0;
    font-weight: normal;
    font-family: boldFont
}

button {
    border: none;
    color: var(--text);
    background-color: transparent;
}

button:hover {
    color: var(--buttonnorm);
    cursor: pointer
}

#form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    transition: .4s;
}

#commentContainer {
    position: relative
}

#thanks {
    position: absolute;
    opacity: 0;
    font-size: var(--fontsize);
    transition-duration: 2s;
    transition-delay: .8s;
    top: 50%;
    transform: translateY(-50%);
    margin: auto
}

input, textarea {
    width: 100%;
    border: none;
    color: var(--text);
    background-color: var(--subDemo);
    padding: 15px;
    outline: none;
    font-family: font;
    font-size: var(--fontsize);
    border-radius: var(--borderRadius);
    resize: none
}

#captcha {
    border-radius: 0
}

.topnav {
    background-color: var(--topnavbg);
    position: fixed;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    align-items: center;
    border-bottom: var(--bg) 3px solid;
    box-sizing: content-box;
}

.topnav .title {
    font-family: burger;
    width: 100%;
    display: flex;
    align-items: center
}

.topnav .nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.topnav .title .brand {
    padding-left: 30px;
    font-size: 35px;
    height: 100%;
    color: var(--text);
}

.topnav .title .about {
    font-family: font;
    color: var(--text);
    font-size: var(--fontsize);
    border: 1.5px solid var(--topnavbuttonhover);
    background-color: var(--bg);
    border-radius: var(--borderRadius);
    padding: 6px;
    margin-left: 20px;
}

.topnav .title .about:hover {
    background-color: var(--topnavwhitehover);
    border-radius: 20px;
}

.topnav .nav a {
    color: var(--text);
    font-size: var(--fontsize);
    background-color: var(--topnavbutton);
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 60px;
    text-align: center;
}

.topnav .nav a:hover {background-color: var(--topnavbuttonhover)}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.demo, .subDemo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    display: flex;
    width: 100%;
    gap: 20px;
    border: none;
    background-color: var(--demo);
    border-radius: var(--borderRadius);
    padding: 30px;
    flex-direction: column;
    color: var(--text);
}

.subDemo {
    background-color: var(--subDemo);
    padding: 20px;
}

a.normal, .demo h3, .demo h2 {color: var(--buttonnorm)}
a.normal:hover, .demo h3:hover, .demo h2:hover {color: var(--buttonhover)}

.tiny {
    max-width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow)
}

.tinyRatio {
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow)
}

.play {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big {position: relative}
.big img {width: 100%}
.big:hover .play {transform: translate(-50%, -50%) scale(1.05)}

.big .img {
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow)
}

.opts {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.opts a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--subDemo);
    padding: 10px;
    border-radius: 5px;
}

.opts a:hover {
    cursor: pointer;
    background-color: var(--squarebutton);
}

.opts svg {
    width: 100%;
    height: 25px;
    fill: var(--svg)
}

button.button {
    font-size: var(--fontsize);
    font-family: font;
    background-color: var(--subDemo);
    border-radius: 5px;
    padding: 10px;
    color: var(--text)
}

button.button:hover {
    background-color: var(--topnavbuttonhover);
    cursor: pointer;
}

a.button {
    background-color: var(--subDemo);
    border-radius: 5px;
    padding: 10px;
    border: 1.5px solid #999;
    color: var(--text)
}

a.button:hover {
    background-color: var(--squarebuttonhover);
    cursor: pointer;
}

.gap {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bio {
    font-family: boldFont;
    font-style: italic;
    color: #888
}

.hint {
    background-color: var(--hint);
    border-radius: var(--borderRadius);
    border: 2px solid var(--hintEdge);
    padding: 14px;
    color: var(--hintText);
    font-size: var(--smallerFont);
    display: flex
}

.hint img {
    width: 12px;
    margin-right: 15px;
}

.hint div {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.code {
    background-color: var(--codebg);
    color: var(--basic);
    border-radius: var(--borderRadius);
    font-size: 17px;
    font-family: code;
    overflow-x: hidden;
    white-space: pre-wrap;
    width: 100%;
    padding: 20px;
    border: 2px var(--codeoutline) solid;
}

.code.big {max-height: 300px}

.codeCont {
    position: relative;
    width: 100%;
}

.codeCont pre {
    margin: 0
}

.codeCont a {
    background-color: var(--subDemo);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 12.5px;
    top: 12.5px;
    font-size: 15px;
    color: var(--basic)
}

.codeCont a:hover {
    background-color: var(--codeoutline);
    cursor: pointer;
}

.snip {
    border-radius: 3px;
    display: inline-block;
    padding: 1px 3px;
    font-size: 18px;
    font-family: code;
    background-color: var(--codebg);
    border: 1.5px solid var(--codeoutline);
}

.mobile {
    font-family: boldFont;
    color: var(--buttonnorm)
}

iframe {
    border: 0px;
    border-radius: var(--borderRadius);
    width: 100%;
    height: 400px;
    box-shadow: var(--shadow);
    background-color: #fff;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow)
}

.date {
    margin-left: auto;
    margin-right: 0;
    background-color: var(--demo);
    border-radius: var(--borderRadius);
    padding: 10px;
    user-select: none;
}

.theme {
    position: fixed;
    left: 0;
    bottom: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--bg);
    padding: 10px;
    border-bottom: 1.5px solid var(--topnavbuttonhover)
}

.theme:hover {background-color: var(--demo)}

.copyright {
    left: 0;
    bottom: 0;
    padding: 5px;
    position: fixed;
    background-color: var(--bg);
    border-radius: 0 10px 0 0;
    font-size: 13px;
    display: flex;
    gap: 5px;
}

.theme, .copyright {
    border-right: 1.5px solid var(--topnavbuttonhover);
    border-top: 1.5px solid var(--topnavbuttonhover);
    box-shadow: var(--shadow)
}

.table {
    margin-bottom: 5px;
    padding: 5px 0
}

.cont {
    display: flex;
    gap: 10px;
    width: 100%
}

.cont button {
    border-radius: var(--borderRadius);
}

.cont button:hover {
    background-color: var(--mutebuttonhover);
}

.cont button img {
    width: 30px;
    height: 100%
}

.user {
    display: flex;
    width: 100%;
    gap: 10px
}

.subDemo.user {
    box-shadow: 1px 1px 4px #0003;
    border: 2px solid var(--demo);
}

.userCanvas {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #666;
    box-shadow: 1px 1px 4px #000b;
    overflow: hidden;
}

.userCanvas img {
    width: 100%;
    height: auto
}

.user h3 {
    width: fit-content;
    display: inline-block;
    align-self: center;
}

.userDate {
    color: #888;
    margin-left: auto;
    margin-right: 0;
}

#pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0004;
    z-index: -1;
    opacity: 0;
    transition: z-index .2s step-end, opacity .2s;
}

#pop.open {
    z-index: 1;
    opacity: 1;
    transition: z-index .2s step-start, opacity .2s;
}

#popMain {
    position: fixed;
    width: 50%;
    height: 50%;
    min-height: 300px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--demo);
    border-radius: 5px;
    padding: 30px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: .2s;
}

#popMain button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--hintEdge);
    padding: 10px 30px;
    border-radius: 5px;
}

#popMain button:hover {
    background-color: var(--hint);
    color: var(--hintText)
}

#back {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    opacity: .8;
}

#back.invisible {
    opacity: 0
}

#back img {
    width: 100%;
    height: 100%;
    background-color: var(--subDemo);
    padding: 17px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #0005;
}

#back:hover {
    opacity: 1;
    transform: translateY(-3px);
    cursor: pointer;
}

.copyright img {width: 10px}
.copyright img:hover {opacity: .7}

@media screen and (min-width: 850px) {
    .main {
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 100px;
    }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
    .main {
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 700px) {
    #pop {
        width: 90%
    }

    .topnav .title a {
        font-size: 30px;
        color: var(--text);
    }

    .topnav {flex-direction: column}
    .topnav .nav {width: 100%}

    .topnav .nav a {
        padding: 5px;
        width: 100%;
        justify-content: center;
        height: 30px;
        text-align: center;
    }

    .main {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 370px) {
    .topnav .nav {flex-direction: column}
    .topnav .nav a {padding: 0}

    #pop {
        width: 90%
    }

    .main {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 200px;
    }

    .opts a {padding: 4px}
}

/* for unbelievably tiny screens */
@media screen and (max-width: 275px) {
    #pop {
        width: 90%
    }

    .title {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .title .brand {display: none}
    .opts a {padding: 2px}
    .opts {gap: 4px}
}

* {
    box-sizing: border-box;
    transition-duration: .1s;
}