/*-------- fonts --------*/
@font-face {
    font-family: burger;
    src: url(burger.otf)
}
@font-face {
    font-family: font;
    src: url(ChakraPetch-Regular.ttf)
}
@font-face {
    font-family: code;
    src: url(code.ttf)
}

:root {
    --fontsize: 19px
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
    margin: 0;
    font-family: font;
    font-size: 19px;
    padding-top: 100px;
    padding-bottom: 60px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a.button {
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    width: fit-content;
}

a.button:hover {
    background-color: #ccc;
}

a.normal, a.article {
    color: #058
}

a.normal:hover, a.article:hover {
    color: #08b
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.topnav {
    background-color: #999;
    margin-bottom: 10px;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    gap: 30px;
}

.topnav .nav {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.topnav .nav a {
    color: #333;
    font-size: 20px
}
.topnav .nav a:hover {
    color: #555
}

.topnav img {
    width: 18px;
}

.topnav img:hover {
    opacity: .7;
    cursor: pointer;
}

.topnav .bars {
    display: none;
    position: fixed;
    width: 25px;
    top: 30px;
    right: 30px;
}

.topnav .joachimford {
    font-family: burger;
    font-size: 45px;
    width: fit-content
}

.topnav .joachimford a {
    color: #000;
    width: 100%;
}

.big .img {
    border-radius: 10px;
    box-shadow: 0px 0px 7px #0004
}

.big {
    position: relative;
}

.big img {
    width: 100%;
}

.play {
    transition: .2s;
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.big:hover .play {
    transform: translate(-50%, -50%) scale(1.05);
}

.quote {
    color: #333;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

h3, h2, h1 {
    margin: 10px 0;
}

.news {
    margin: 0;
}

.code {
    background-color: #ddd;
    color: #222;
    border-radius: 10px;
    font-size: 15px;
    font-family: code;
    max-height: 300px;
    width: 100%;
    padding-left: 30px;
    overflow-y: scroll;
    border: 2px #ccc solid
}

.code pre {
    overflow-x: hidden;
    white-space: pre-wrap
}

.hash {
    color: #999
}
.string {
    color: #482;
}

.copyright {
    left: 0;
    bottom: 0;
    padding: 5px;
    position: fixed;
    background-color: #fff5;
    border-radius: 0 10px 0 0;
    font-size: 13px;
}

.small {
    margin-bottom: 10px;
}

.small img {
    margin-top: 15px;
    border-radius: 10px;
    width: 50%;
    transition: .2s;
    float: left;
    margin-right: 20px;
    box-shadow: 0px 0px 7px #0003
}
.small:hover img {
    transform: scale(1.02);
}
.small h2 {
    color: #47b;
}
.small div {
    color: #000;
    padding-top: 10px;
}

.mobile {
    font-weight: bold;
    color: #070
}

.high {
    color: #250
}

.iframe iframe {
    border: 0px;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 7px #0003;
}

.snip {
    border-radius: 3px;
    display: inline-block;
    padding: 1px 3px;
    font-size: 18px;
    font-family: code;
    background-color: #ddd;
}

.date {
    margin-left: auto;
    margin-right: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
}

.description {
    color: #444;
    font-style: italic;
}

.article {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 15px 0;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
}

.tiny {
    width: 100%;
    max-width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #0005;
}

.gap {
    padding: 15px 0;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


@media screen and (min-width: 1050px) {
    body {
        padding-left: 150px;
        padding-right: 150px
    }
    .topnav {
        padding-left: 150px;
    }
}

@media screen and (min-width: 810px) and (max-width: 1050px) {
    body {
        padding-left: 100px;
        padding-right: 100px
    }
    .topnav {
        padding-left: 100px;
    }
}

@media screen and (min-width: 500px) and (max-width: 810px) {
    body {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 110px;
    }
    .topnav {
        padding-left: 30px;
        flex-direction: column;
        gap: 0;
    }

    .topnav .nav {
        margin: 0
    }

    .topnav .joachimford {
        font-size: 35px;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding-left: 20px;
        padding-right: 20px
    }
    .topnav {
        padding-left: 20px;
    }

    .topnav .bars {
        display: block
    }

    .topnav .text {
        display: none
    }

    .topnav.responsive {
        flex-direction: column;
        gap: 5px
    }

    .topnav.responsive .nav {
        gap: 5px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0
    }

    .topnav.responsive .text {
        display: block;
    }
}
* {box-sizing: border-box}
