/*-------- fonts --------*/
@font-face {
    font-family: burger;
    src: url(burger.otf)
}
@font-face {
    font-family: nunito;
    src: url(nunito.ttf)
}
@font-face {
    font-family: code;
    src: url(code.ttf)
}


/*-------- variables --------*/
:root {
    --transition: 0.5s;
    --radius: 1em;
    --fontsize: 18px
}


/*-------- setup --------*/
body {
    background-color: #eee;
    margin: 0;
    font-family: nunito;
    font-size: var(--fontsize)
}

/*-------- topnav --------*/
.topnav {
    background-color: #999;
    margin-bottom: 1em;
    padding: .2em 0
}
.topnav > div > a {
    color: #333;
    font-size: 20px
}
.topnav > div > a:not(:first-child).text {
    text-decoration: none;
    margin: 0 .5em
}
.topnav > div > a > i {
    margin: 0 .2em
}
.topnav > div > a:not(:first-child):hover {color: #777}
.topnav > div > a:first-child {
    text-decoration: none;
    color: #000;
    font-family: burger;
    margin-right: .5em;
    font-size: 45px
}
.topnav > div > i.fa-bars {display: none}


/*-------- image --------*/
.imgbox {
    float: left;
    margin-top: 2em
}
.imgbox a:hover > img{
    opacity: .5;
    transform: scaleX(.95) scaleY(.95)
}
.imgbox > a > div > h2 {
    color: #47b;
    margin-bottom: 1em
}
.imgbox > a > img {
    transition-duration: var(--transition);
    border-radius: var(--radius);
    margin: 0 2em 1em 0;
    float: left;
    box-shadow: 0px 0px 10px #0005
}
.imgbox > a > div {color: #000}


/*-------- links --------*/
a {
    text-decoration: none;
    color: #47b
}
a:hover {color: #037}


/*-------- iframes & images --------*/

/* iframe size */
div.iframe, div.image {
    position: relative;
    transition-duration: var(--transition)
}

/* iframe size */
div.iframe > iframe {height: 20em}

/* image size */
div.image {
    max-width: 100%;
    display: inline-block
}

/* position the link */
div.iframe > a, div.image > a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

/* style */
div.iframe > iframe, div.image > img {
    border: 0px;
    border-radius: .5em;
    width: 100%;
    transition-duration: var(--transition);
    box-shadow: 0px 0px 10px #0005
}

/* if you hover over a div
with a play button, display it */
div.iframe:hover > i.fa-play,
div.image:hover > i.fa-play {
    background: #000;
    color: #fff
}

/* if you hover over a div with a
play button, fade it slightly */
div.iframe:hover > iframe.play,
div.image:hover > img.play {
    opacity: .5
}

/* play button for div */
div.iframe > i.fa-play,
div.image > i.fa-play {
    color: #0000;
    font-size: 37px; 
    border-radius: .2em;
    position: absolute;
    right: 50%;
    bottom: 50%;
    padding: .2em .7em;
    transform: translate(50%, 50%);
    transition-duration: var(--transition)
}


/*-------- highlight --------*/
.hljs-string {color: #370}
.hljs-keyword {color: #83b}
.hljs-built_in {color: #088}
.hljs-comment {color: #555}
.hljs-number {color: #960}
.hljs-attr {color: #960}
.hljs-literal {color: #960}
.hljs-tag {color: #555}
.hljs-function {color: #555}
.hljs-attribute {color: #555}
.hljs-variable {color: #269}
.hljs-name {color:#06c}
.hljs-selector-tag {color: #662}
.hljs-title {color: #06c}
.hljs-selector-id {color: #06c}
.hljs-meta {color: #06c}
.hljs-params {color: #b60}
.hljs-property {color: #076}
.hljs-regexp {color: #d55}
.hljs-hash {color: #0005}


/*-------- other --------*/
div.code > pre {
    background-color: #0241;
    box-shadow: 0px 0px 10px #0005;
    border-radius: .5em;
    font-size: 15px;
    font-family: code;
    overflow: auto;
    padding: 1em;
    margin-bottom: 2em;
    max-height: 20em
}
h2, h3 {margin: 0}
h3 {margin-top: .5em}

/* font emphasis */
mark {
    font-weight: bold;
    background: none
}
span.italic {font-style: italic}
span.mobile {
    font-weight: bold;
    color: #070
}
span.date {float: right}
/* logos */
i.fa-brands, i.fa-solid:not(i.fa-play, i.fa-bars) {
    font-size: var(--fontsize);
    cursor: pointer
}
/* copyright */
span.copyright {
    left: 0px;
    bottom: 0px;
    font-size: 15px;
    margin-left: .5em;
    position: fixed
}
span.snip {
    border-radius: 3px;
    border: 1px solid #777;
    display: inline-block;
    background: #ddd;
    padding: 0px 2px;
    color: #333;
    font-size: 15px
}
span.preview {
    color: #666;
    font-style: italic
}
div.step {
    background: #eee;
    box-shadow: 0px 0px 10px #0004;
    padding: 1em;
    border-radius: 10px
}

/*-------- responsive --------*/

/* width is greater than 55 - MAX width */
@media screen and (min-width: 55em) {
    .topnav > div {max-width: 64em; padding: .5em 6em; margin: 0 auto}
    .main {max-width: 64em; padding: 1em 6em; margin: 0 auto}

    .imgbox > a > img {width: 50%}
}

/* width is greater than 45 less than 55 - MID width */
@media screen and (min-width: 45em) and (max-width: 55em) {
    .topnav > div {padding: .5em 1em .5em 3em}
    .main {padding: 1em 2em}

    .topnav > div > i.fa-bars {display: block; font-size: 20px; float: right; cursor: pointer}
    .topnav > div > a:not(:first-child) {display: none}
    .topnav.responsive a:not(:first-child) {padding-bottom: 1em; display: block}

    .imgbox > a > img {width: 50%}
}

/* width is less than 45 - MIN width */
@media screen and (max-width: 45em) {
    .topnav > div {padding: .5em 1em}
    .main {padding: 1em 2em}
    .topnav > div > i.fa-bars {display: block; font-size: 20px; float: right; cursor: pointer}
    .topnav > div > a:not(:first-child) {display: none}
    .topnav.responsive a:not(:first-child) {padding-bottom: 1em; display: block}

    .imgbox > a > img {width: 100%}
}
* {box-sizing: border-box}