:root {
    --keyword: #c8f;
    --number: #fa6;
    --builtin: #f80;
    --operator: #0ff;
    --function: #7bf;
    --variable: #f88;
    --string: #fb7;
    --comment: #95a5a6;
}

body.light {
    --keyword: #737;
    --number: #970;
    --builtin: #d35400;
    --operator: #079;
    --function: #0984e3;
    --variable: #944;
    --string: #374;
    --comment: #777;
}

.code {
    font-family: code, monospace, sans-serif;
    font-size: var(--code-font-size);
    background-color: var(--black);
    border: 1px var(--c444) solid;
    padding: 10px 30px;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 2px;
    margin: 0;
}

.code-holder {
    position: relative;
}

.code-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.code-button {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    background-color: var(--c444);
    color: var(--white);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: var(--font-size);
    transition: .2s;
}

.code-button:hover {
    background-color: var(--mid-green);
    cursor: pointer;
}

.code-button-icon {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-button-icon img {
    width: 100%;
    transition: .1s;
}

.code-button-icon:hover img {
    cursor: pointer;
    filter: brightness(1.3)
}